@charset "UTF-8";
/* CSS Document */
/* 
========================================
  Custom Body
========================================
*/

html {
  height: 100%;
}
body {
	background-image: url(../images/stayorgo-2020x1226.png);
 	background-size: 100%;
  	min-height: 100%;
	width: 100%;
	position: absolute;
	height: auto;
	color: white;
}
/* 
========================================
  Typogrophy
========================================
*/
h1 {
	color: #F6EEF0;
	font-weight: 700;
	font-size: 36px/40px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
h2 {
	color: #F6EEF0;
	font: 700 32px/36px Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
h3 {
	color: #4c1a52;
	font: 700 26px/30px Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
.inoutbuttons {
	text-align: center;
	color: #F6EEF0;
	font: 300 14px/16px Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
p {
	color: #4c1a52;
}
/* 
========================================
  Grid/Style
========================================
*/
.container {
	background-color: #f5926f;
	top: 20px;
	margin: 40px auto;
	height: auto;
}
#button-box {
	position: absolute;
	margin: 10px;
	padding: 30px;
}
#stayin {
	display: inline-block;
	margin: 10px auto;
}
#goout {
	display: inline-block;
	margin: 10px auto;
}
.hourDiv {
	border: solid;
	border-width: thin;
	border-color: #4c1a52;
	display: inline-block;
	width: auto;
}

